Repository JonTK/slurm-client: changes, and which Codecov flags are due for each by the changed paths.
All: pkg, internal

feat(linters): enable contextcheck, usetesting, dupword, and exhaustive
  .gitignore
  .golangci.yml
  cmd/version-test/test_v0041.go
  internal/adapters/v0_0_41/user_converters.go
  internal/adapters/v0_0_43/account_converters.go
  internal/adapters/v0_0_44/account_converters.go
  internal/factory/enhanced_factory.go
  internal/factory/factory.go
  internal/managers/base/base_manager.go
  pkg/config/config_test.go
  tests/integration/error_handling_test.go
  tests/integration/job_lifecycle_test.go
  tests/integration/test_helpers_test.go
Due: internal

feat(linters): enable contextcheck, usetesting, dupword, and exhaustive (#40)
  .gitignore
  .golangci.yml
  cmd/version-test/test_v0041.go
  internal/adapters/v0_0_41/user_converters.go
  internal/adapters/v0_0_43/account_converters.go
  internal/adapters/v0_0_44/account_converters.go
  internal/factory/enhanced_factory.go
  internal/factory/factory.go
  internal/managers/base/base_manager.go
  pkg/config/config_test.go
  tests/integration/error_handling_test.go
  tests/integration/job_lifecycle_test.go
  tests/integration/test_helpers_test.go
Due: internal

feat(linters): enable noctx and forcetypeassert linters with proper error handling
  .golangci.yml
  internal/adapters/v0_0_41/job_adapter.go
Due: internal

feat(linters): enable noctx and forcetypeassert linters with proper error handling (#41)
  .golangci.yml
  internal/adapters/v0_0_41/job_adapter.go
Due: internal

feat(linters): enable unparam linter with strategic exclusions
  .golangci.yml
Due: none

feat(linters): enable unparam linter with strategic exclusions (#43)
  .golangci.yml
Due: none

feat(linters): enable revive linter Phase 1 with strategic exclusions
  .golangci.yml
  examples/job-dependencies/main.go
  internal/adapters/v0_0_40/account_converters.go
  internal/adapters/v0_0_40/reservation_converters.go
  internal/adapters/v0_0_41/association_adapter.go
  internal/adapters/v0_0_41/job_adapter.go
  internal/adapters/v0_0_41/standalone_adapter.go
  internal/adapters/v0_0_42/reservation_adapter.go
  internal/adapters/v0_0_42/standalone_adapter.go
  internal/adapters/v0_0_43/account_adapter.go
  internal/adapters/v0_0_43/job_adapter.go
  internal/adapters/v0_0_43/qos_adapter.go
  internal/adapters/v0_0_43/qos_converters.go
  internal/adapters/v0_0_43/standalone_adapter.go
  internal/adapters/v0_0_43/user_adapter.go
  internal/adapters/v0_0_44/account_adapter.go
  internal/adapters/v0_0_44/job_adapter.go
  internal/adapters/v0_0_44/qos_adapter.go
  internal/adapters/v0_0_44/qos_converters.go
  internal/adapters/v0_0_44/user_adapter.go
  internal/api/v0_0_41/wrapper_extensions.go
  internal/api/v0_0_43/info_manager_impl.go
  internal/api/v0_0_43/wrapper_extensions.go
  internal/api/v0_0_44/partition_manager_impl.go
  internal/factory/auth_transport.go
  internal/managers/base/account_base_manager.go
  internal/managers/base/association_base_manager.go
  internal/managers/base/node_base_manager.go
  internal/managers/base/partition_base_manager.go
  internal/managers/base/qos_edge_cases.go
  internal/managers/base/user_base_manager.go
  pkg/logging/logger.go
  pkg/logging/logger_test.go
  pkg/middleware/middleware_test.go
  pkg/performance/cache.go
  tests/benchmarks/performance_test.go
Due: pkg, internal

feat(linters): enable revive linter Phase 1 with strategic exclusions (#45)
  .golangci.yml
  examples/job-dependencies/main.go
  internal/adapters/v0_0_40/account_converters.go
  internal/adapters/v0_0_40/reservation_converters.go
  internal/adapters/v0_0_41/association_adapter.go
  internal/adapters/v0_0_41/job_adapter.go
  internal/adapters/v0_0_41/standalone_adapter.go
  internal/adapters/v0_0_42/reservation_adapter.go
  internal/adapters/v0_0_42/standalone_adapter.go
  internal/adapters/v0_0_43/account_adapter.go
  internal/adapters/v0_0_43/job_adapter.go
  internal/adapters/v0_0_43/qos_adapter.go
  internal/adapters/v0_0_43/qos_converters.go
  internal/adapters/v0_0_43/standalone_adapter.go
  internal/adapters/v0_0_43/user_adapter.go
  internal/adapters/v0_0_44/account_adapter.go
  internal/adapters/v0_0_44/job_adapter.go
  internal/adapters/v0_0_44/qos_adapter.go
  internal/adapters/v0_0_44/qos_converters.go
  internal/adapters/v0_0_44/user_adapter.go
  internal/api/v0_0_41/wrapper_extensions.go
  internal/api/v0_0_43/info_manager_impl.go
  internal/api/v0_0_43/wrapper_extensions.go
  internal/api/v0_0_44/partition_manager_impl.go
  internal/factory/auth_transport.go
  internal/managers/base/account_base_manager.go
  internal/managers/base/association_base_manager.go
  internal/managers/base/node_base_manager.go
  internal/managers/base/partition_base_manager.go
  internal/managers/base/qos_edge_cases.go
  internal/managers/base/user_base_manager.go
  pkg/logging/logger.go
  pkg/logging/logger_test.go
  pkg/middleware/middleware_test.go
  pkg/performance/cache.go
  tests/benchmarks/performance_test.go
Due: pkg, internal

docs: document permanently disabled linters with rationale
  .golangci.yml
  docs/linting/DISABLED_LINTERS.md
Due: none

docs: document permanently disabled linters with rationale
  .cspell.json
  docs/linting/DISABLED_LINTERS.md
Due: none

docs: document permanently disabled linters with rationale (#46)
  .cspell.json
  docs/linting/DISABLED_LINTERS.md
Due: none

fix: remove unused append operations in adapters (SA4010)
  internal/adapters/v0_0_41/association_adapter.go
  internal/adapters/v0_0_41/job_adapter.go
Due: internal

fix(ci): disable dupl linter and exclude conventionalcommits.org
  .cspell.json
  .github/workflows/docs.yml
  .golangci.yml
  docs/linting/DISABLED_LINTERS.md
Due: none

fix: remove unused append operations in adapters (SA4010) (#47)
  .cspell.json
  .github/workflows/docs.yml
  .golangci.yml
  docs/linting/DISABLED_LINTERS.md
  internal/adapters/v0_0_41/association_adapter.go
  internal/adapters/v0_0_41/job_adapter.go
Due: internal

feat(hooks): add pre-commit lint checks for staged files
  .pre-commit-config.yaml
  Makefile
Due: none

fix(cmd): enable errorlint, gocritic, staticcheck, perfsprint
  .golangci.yml
  cmd/comprehensive-adapter-test/main.go
  cmd/test-error-handling/main.go
  cmd/version-test/main.go
Due: none

feat(linters): enable noctx, forcetypeassert, unparam - partial implementation
  tests/integration/job_analytics_test.go
Due: none

feat(linters): enable noctx, forcetypeassert - significant progress on epic
  pkg/auth/auth_test.go
  tests/benchmarks/helpers_test.go
  tests/benchmarks/mock_server_benchmarks_test.go
  tests/integration/job_analytics_test.go
  tests/mocks/handlers_versioned_test.go
Due: none

fix(linter): complete noctx and forcetypeassert linters
  tests/benchmarks/mock_server_benchmarks_test.go
Due: none

fix(linter): complete unparam linter - all three linters now 100% clean
  examples/efficiency-monitoring/main.go
  examples/error-recovery/main.go
  examples/job-analytics/main.go
  examples/performance-optimization/main.go
Due: none

fix(linter): resolve all outstanding lint errors except importShadow/deferInLoop
  .golangci.yml
  examples/basic/01_connect/main.go
  examples/basic/04_error_handling/main.go
  examples/batch-operations/main.go
  examples/builder-with-adapter/main.go
  examples/efficiency-monitoring/main.go
  examples/error-recovery/main.go
  examples/job-dependencies/main.go
  tests/integration/job_analytics_test.go
Due: none

fix(examples): resolve exitAfterDefer and nestingReduce linting issues
  examples/account-management/main.go
  examples/basic/04_error_handling/main.go
  examples/error-recovery/main.go
  examples/fair-share-analysis/main.go
  examples/job-analytics/main.go
  examples/watch-jobs/main.go
  examples/watch-nodes/main.go
Due: none

fix(examples): suppress security warnings for development-only code
  examples/basic/01_connect/main.go
  examples/basic/04_error_handling/main.go
  examples/fair-share-analysis/main.go
Due: none

feat(linters): complete Epic 2 - enable noctx, forcetypeassert, unparam
  .golangci.yml
  .pre-commit-config.yaml
  Makefile
  benchmarks/auth_bench_test.go
  cmd/comprehensive-adapter-test/main.go
  cmd/test-error-handling/main.go
  cmd/version-test/main.go
  examples/account-management/main.go
  examples/basic/01_connect/main.go
  examples/basic/04_error_handling/main.go
  examples/batch-operations/main.go
  examples/builder-with-adapter/main.go
  examples/efficiency-monitoring/main.go
  examples/error-recovery/main.go
  examples/fair-share-analysis/main.go
  examples/job-analytics/main.go
  examples/job-dependencies/main.go
  examples/performance-optimization/main.go
  examples/watch-jobs/main.go
  examples/watch-nodes/main.go
  internal/managers/base/crud_manager_test.go
  pkg/auth/auth_test.go
  pkg/context/context_test.go
  pkg/performance/connection_pool_test.go
  tests/benchmarks/helpers_test.go
  tests/benchmarks/mock_server_benchmarks_test.go
  tests/integration/auth_test.go
  tests/integration/job_analytics_test.go
  tests/integration/test_helpers_test.go
  tests/mocks/handlers_versioned_test.go
Due: none

feat(linters): enable revive Phase 2 with exported, unused-parameter rules
  .golangci.yml
  cmd/adapter-analysis/main.go
  examples/efficiency-monitoring/main.go
  examples/error-recovery/main.go
  examples/fair-share-analysis/main.go
  interfaces.go
  internal/adapters/v0_0_40/adapter.go
  internal/adapters/v0_0_41/adapter.go
  internal/api/v0_0_42/job_manager_impl.go
  internal/api/v0_0_42/job_manager_test.go
  internal/api/v0_0_42/partition_manager_test.go
  internal/common/cluster_manager_stub.go
  internal/factory/factory.go
  internal/managers/base/base_manager.go
  pkg/analytics/history/performance_history.go
  pkg/auth/auth.go
  pkg/context/context.go
  pkg/logging/logger.go
  pkg/metrics/metrics.go
  pkg/middleware/middleware.go
  pkg/performance/cache_test.go
  pkg/performance/connection_pool.go
  pkg/pool/connection_pool.go
  pkg/retry/retry.go
  pkg/streaming/websocket.go
  tests/helpers/test_helpers.go
  tests/mocks/handlers.go
  tests/mocks/handlers_versioned.go
Due: pkg, internal

feat(linters): enable revive Phase 2 with exported, unused-parameter rules (#49)
  .golangci.yml
  cmd/adapter-analysis/main.go
  examples/efficiency-monitoring/main.go
  examples/error-recovery/main.go
  examples/fair-share-analysis/main.go
  interfaces.go
  internal/adapters/v0_0_40/adapter.go
  internal/adapters/v0_0_41/adapter.go
  internal/api/v0_0_42/job_manager_impl.go
  internal/api/v0_0_42/job_manager_test.go
  internal/api/v0_0_42/partition_manager_test.go
  internal/common/cluster_manager_stub.go
  internal/factory/factory.go
  internal/managers/base/base_manager.go
  pkg/analytics/history/performance_history.go
  pkg/auth/auth.go
  pkg/context/context.go
  pkg/logging/logger.go
  pkg/metrics/metrics.go
  pkg/middleware/middleware.go
  pkg/performance/cache_test.go
  pkg/performance/connection_pool.go
  pkg/pool/connection_pool.go
  pkg/retry/retry.go
  pkg/streaming/websocket.go
  tests/helpers/test_helpers.go
  tests/mocks/handlers.go
  tests/mocks/handlers_versioned.go
Due: pkg, internal

feat(linters): enable revive Phase 3 with error handling patterns
  .golangci.yml
  examples/job-analytics/main.go
  internal/api/v0_0_43/job_manager_impl.go
Due: internal

feat(linters): enable revive Phase 3 with additional code quality rules
  .golangci.yml
  internal/api/v0_0_43/association_manager_test.go
  internal/api/v0_0_43/user_manager_impl_test.go
Due: none

Path conditions:
  pkg: any of: pkg/, but not: **/*_test.go, **/mock*.go, **/generated/**, examples/**, cmd/**, tools/**, benchmarks/**, tests/mocks/**, tests/helpers/**
  internal: any of: internal/, but not: **/*_test.go, **/mock*.go, **/generated/**, examples/**, cmd/**, tools/**, benchmarks/**, tests/mocks/**, tests/helpers/**
