Repository JonTK/slurm-client: changes, and which Codecov flags are due for each by the changed paths.
All: pkg, internal

fix: remove unused auth imports from examples
  examples/basic/03_submit_job/main.go
  examples/basic/04_error_handling/main.go
Due: none

fix: replace all deprecated auth.NewTokenAuth() usage
  cmd/adapter-analysis/main.go
  cmd/adapter-test/main.go
  cmd/benchmark/main.go
  cmd/comprehensive-adapter-test/main.go
  cmd/simple-adapter-test/main.go
  cmd/test-adapters/main.go
  cmd/test-both-implementations/main.go
  cmd/test-error-handling/main.go
  cmd/test-wrapper/main.go
  cmd/version-test/main.go
  examples_test.go
Due: none

fix: rename unused ctx parameter to _ in userTokenAuth.Authenticate methods
  cmd/adapter-analysis/main.go
  cmd/adapter-test/main.go
  cmd/benchmark/main.go
  cmd/comprehensive-adapter-test/main.go
  cmd/simple-adapter-test/main.go
  cmd/test-adapters/main.go
  cmd/test-both-implementations/main.go
  cmd/test-error-handling/main.go
  cmd/test-wrapper/main.go
  cmd/version-test/main.go
Due: none

fix(auth): deprecate NewTokenAuth and fix missing username header (#105)
  README.md
  client_options.go
  cmd/adapter-analysis/main.go
  cmd/adapter-test/main.go
  cmd/benchmark/main.go
  cmd/comprehensive-adapter-test/main.go
  cmd/simple-adapter-test/main.go
  cmd/test-adapters/main.go
  cmd/test-both-implementations/main.go
  cmd/test-error-handling/main.go
  cmd/test-wrapper/main.go
  cmd/version-test/main.go
  doc.go
  examples/account-management/main.go
  examples/array-jobs/main.go
  examples/basic/01_connect/main.go
  examples/basic/02_list_jobs/main.go
  examples/basic/03_submit_job/main.go
  examples/basic/04_error_handling/main.go
  examples_test.go
  pkg/auth/auth.go
Due: pkg

ci: add integration tests workflow with mock and real SLURM
  .github/workflows/integration-tests.yml
Due: none

fix: build mock SLURM API image inline to avoid GHCR auth issues
  .github/workflows/integration-tests.yml
Due: none

fix: use official Dockerfile with SSL certificate generation
  .github/workflows/integration-tests.yml
Due: none

fix: upgrade k3d to v5.8.3 for Docker API 1.44 compatibility
  .github/workflows/integration-tests.yml
Due: none

fix: use public mock-slurm-api repository
  .github/workflows/integration-tests.yml
Due: none

ci: disable real SLURM testing for now
  .github/workflows/integration-tests.yml
Due: none

fix: use GITHUB_TOKEN to fetch mock server from private repo
  .github/workflows/integration-tests.yml
Due: none

ci: add integration tests workflow (#103)
  .github/workflows/integration-tests.yml
Due: none

fix(jobs): surface SLURM error details on non-200 submit responses
  internal/adapters/v0_0_42/job_adapter.gen.go
  internal/adapters/v0_0_43/job_adapter.gen.go
  internal/adapters/v0_0_44/job_adapter.gen.go
Due: internal

fix(codegen): add JSONDefault fallback to all error handler templates
  tools/codegen/generate_adapters.go
Due: none

fix(codegen): sort validation operations for deterministic output
  internal/adapters/v0_0_42/association_validation.gen.go
  internal/adapters/v0_0_42/user_adapter_gen_test.go
  internal/adapters/v0_0_44/association_adapter_gen_test.go
  internal/adapters/v0_0_44/job_adapter_gen_test.go
  tools/codegen/generate_adapters.go
Due: internal

fix(jobs): surface SLURM error details on non-200 responses (#106)
  internal/adapters/v0_0_42/account_adapter.gen.go
  internal/adapters/v0_0_42/association_adapter.gen.go
  internal/adapters/v0_0_42/cluster_adapter.gen.go
  internal/adapters/v0_0_42/job_adapter.gen.go
  internal/adapters/v0_0_42/job_helpers.gen.go
  internal/adapters/v0_0_42/node_adapter.gen.go
  internal/adapters/v0_0_42/node_helpers.gen.go
  internal/adapters/v0_0_42/partition_adapter.gen.go
  internal/adapters/v0_0_42/qos_adapter.gen.go
  internal/adapters/v0_0_42/reservation_adapter.gen.go
  internal/adapters/v0_0_42/user_adapter.gen.go
  internal/adapters/v0_0_42/user_validation.gen.go
  internal/adapters/v0_0_42/wckey_adapter.gen.go
  internal/adapters/v0_0_43/account_adapter.gen.go
  internal/adapters/v0_0_43/association_adapter.gen.go
  internal/adapters/v0_0_43/cluster_adapter.gen.go
  internal/adapters/v0_0_43/job_adapter.gen.go
  internal/adapters/v0_0_43/job_helpers.gen.go
  internal/adapters/v0_0_43/node_adapter.gen.go
  internal/adapters/v0_0_43/node_helpers.gen.go
  internal/adapters/v0_0_43/partition_adapter.gen.go
  internal/adapters/v0_0_43/qos_adapter.gen.go
  internal/adapters/v0_0_43/reservation_adapter.gen.go
  internal/adapters/v0_0_43/user_adapter.gen.go
  internal/adapters/v0_0_43/wckey_adapter.gen.go
  internal/adapters/v0_0_44/account_adapter.gen.go
  internal/adapters/v0_0_44/association_adapter.gen.go
  internal/adapters/v0_0_44/cluster_adapter.gen.go
  internal/adapters/v0_0_44/job_adapter.gen.go
  internal/adapters/v0_0_44/job_helpers.gen.go
  internal/adapters/v0_0_44/node_adapter.gen.go
  internal/adapters/v0_0_44/node_helpers.gen.go
  internal/adapters/v0_0_44/partition_adapter.gen.go
  internal/adapters/v0_0_44/qos_adapter.gen.go
  internal/adapters/v0_0_44/reservation_adapter.gen.go
  internal/adapters/v0_0_44/user_adapter.gen.go
  internal/adapters/v0_0_44/wckey_adapter.gen.go
  tools/codegen/generate_adapters.go
Due: internal

chore(gen): regenerate all adapter files from fixed generator
  internal/adapters/v0_0_42/association_validation.gen.go
  internal/adapters/v0_0_42/user_adapter_gen_test.go
  internal/adapters/v0_0_44/association_adapter_gen_test.go
  internal/adapters/v0_0_44/job_adapter_gen_test.go
Due: internal

chore: prepare v0.3.1 release
  CHANGELOG.md
  README.md
  RELEASE.md
  docs/development/RELEASE.md
  docs/getting-started/installation.md
  docs/index.md
Due: none

chore: prepare v0.3.1 release (#107)
  CHANGELOG.md
  README.md
  RELEASE.md
  docs/development/RELEASE.md
  docs/getting-started/installation.md
  docs/index.md
  internal/adapters/v0_0_42/association_validation.gen.go
  internal/adapters/v0_0_42/user_adapter_gen_test.go
  internal/adapters/v0_0_44/association_adapter_gen_test.go
  internal/adapters/v0_0_44/job_adapter_gen_test.go
Due: internal

docs: improve pkg.go.dev documentation quality
  README.md
  api/analytics_types.go
  doc.go
  pkg/errors/types.go
  types.go
Due: pkg

chore: prepare v0.3.2 release
  CHANGELOG.md
Due: none

fix: correct spelling in changelog
  CHANGELOG.md
Due: none

docs: update version to v0.3.2
  README.md
  RELEASE.md
  docs/development/RELEASE.md
  docs/getting-started/installation.md
  docs/index.md
Due: none

fix(adapters): use JSON round-trip for v0.0.41 converter type assertions
  internal/adapters/v0_0_41/association_converters.go
  internal/adapters/v0_0_41/node_converters.go
  internal/adapters/v0_0_41/partition_converters.go
  internal/adapters/v0_0_41/reservation_converters.go
  internal/adapters/v0_0_41/user_converters.go
Due: internal

chore: prepare v0.3.3 release
  CHANGELOG.md
  README.md
  RELEASE.md
  docs/development/RELEASE.md
  docs/getting-started/installation.md
  docs/index.md
Due: none

fix: cspell spelling issue in changelog
  CHANGELOG.md
Due: none

feat(api): add SubmitRaw method for full JobCreate field support
  .gitignore
  api/extended_types.go
  api/interfaces.go
  internal/factory/adapter_client.go
  internal/factory/adapter_client_simple_test.go
  pkg/streaming/test_helpers.go
  types.go
Due: pkg, internal

fix: address code review feedback for SubmitRaw
  internal/factory/adapter_client_simple_test.go
  types.go
Due: none

fix: make mock Submit return consistent with SubmitRaw
  pkg/streaming/test_helpers.go
Due: pkg

fix: resolve golangci-lint errors for SubmitRaw changes
  cmd/adapter-analysis/main.go
  cmd/adapter-test/main.go
  cmd/comprehensive-adapter-test/main.go
  cmd/simple-adapter-test/main.go
  cmd/slurm-cli/main.go
  cmd/test-error-handling/main.go
  cmd/version-test/main.go
  examples/array-jobs/main.go
  examples/basic/03_submit_job/main.go
  examples/batch-operations/main.go
  examples/error-recovery/main.go
  examples/fair-share-analysis/main.go
  examples/job-dependencies/main.go
  examples/job_list_example.go
  examples/multi-version/main.go
  examples/performance-optimization/main.go
  examples/resource-allocation/main.go
  examples/user-account-management/main.go
  examples/version-differences/main.go
  examples_test.go
  internal/factory/adapter_client.go
  internal/factory/adapter_client_simple_test.go
  internal/factory/extended_user.go
  internal/factory/interfaces.go
  pkg/streaming/test_helpers.go
  types.go
Due: pkg, internal

fix: suppress gosec integer overflow warnings on bounded conversions
  cmd/slurm-cli/main.go
  examples/job-dependencies/main.go
Due: none

fix: remove unused nolint:gosec directives flagged by nolintlint
  examples/job-dependencies/main.go
Due: none

chore: prepare v0.4.0 release
  CHANGELOG.md
  README.md
  doc.go
Due: none

docs: update all documentation for SubmitRaw/JobCreate migration
  docs/ARCHITECTURE.md
  docs/api/jobs.md
  docs/getting-started/quick-start.md
  docs/guides/ARCHITECTURE.md
  docs/guides/adapter-pattern.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  docs/index.md
  docs/troubleshooting.md
Due: none

chore: bump version references to v0.4.0
  README.md
  docs/development/RELEASE.md
  docs/getting-started/installation.md
  docs/index.md
Due: none

fix: add rlimits to cspell dictionary
  .cspell.json
Due: none

chore: prepare v0.4.0 release
  .cspell.json
  CHANGELOG.md
  README.md
  doc.go
  docs/ARCHITECTURE.md
  docs/api/jobs.md
  docs/development/RELEASE.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/guides/ARCHITECTURE.md
  docs/guides/adapter-pattern.md
  docs/guides/testing.md
  docs/guides/troubleshooting.md
  docs/index.md
  docs/troubleshooting.md
Due: none

docs: update version to v0.4.0
  RELEASE.md
Due: none

Path conditions:
  pkg: any of: pkg/, but not: **/*_test.go, **/mock*.go, **/generated/**, examples/**, cmd/**, tools/**, benchmarks/**, tests/mocks/**, tests/helpers/**
  internal: any of: internal/, but not: **/*_test.go, **/mock*.go, **/generated/**, examples/**, cmd/**, tools/**, benchmarks/**, tests/mocks/**, tests/helpers/**
