Repository JonTK/slurm-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, goimports, golangci-lint, go-mod-tidy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2025 Jon Thor Kristinsson
# SPDX-License-Identifier: Apache-2.0

# Pre-commit hooks for slurm-client
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=500']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: mixed-line-ending
        name: Check mixed line endings

  # Go formatting and linting
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt
        entry: gofmt -w -s
        language: system
        types: [go]
        pass_filenames: true

      - id: goimports
        name: goimports
        entry: goimports -w
        language: system
        types: [go]
        pass_filenames: true

      - id: golangci-lint
        name: golangci-lint (staged files only)
        entry: make lint-staged
        language: system
        types: [go]
        pass_filenames: false
        stages: [commit]
        # Run linting on staged Go files only via make target

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: go.mod
        pass_filenames: false

  # Commit message linting
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.5.0
    hooks:
      - id: commitlint
        name: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional@latest']

feat(linters): reduce gocyclo threshold from 50 to 25 and refactor complex functions
  .github/workflows/docs.yml
  .golangci.yml
  cmd/test-wrapper/main.go
  examples/job-analytics/main.go
  internal/adapters/v0_0_40/job_adapter.go
  internal/adapters/v0_0_42/association_adapter.go
  internal/adapters/v0_0_42/job_adapter.go
  internal/adapters/v0_0_43/job_adapter.go
  internal/adapters/v0_0_43/partition_adapter.go
  internal/adapters/v0_0_43/qos_adapter.go
  internal/adapters/v0_0_44/job_adapter.go
  internal/adapters/v0_0_44/partition_adapter.go
  internal/adapters/v0_0_44/qos_adapter.go
  internal/common/builders/account_builder.go
  internal/common/builders/partition_builder.go
  internal/common/builders/user_builder.go
  internal/managers/base/association_base_manager.go
  internal/managers/base/job_base_manager.go
  internal/managers/base/reservation_base_manager.go
Due: gofmt, goimports, golangci-lint

refactor(node-adapter-v0.0.42): extract filter helpers to reduce cyclomatic complexity
  .golangci.yml
  internal/adapters/v0_0_42/node_adapter.go
Due: gofmt, goimports, golangci-lint

refactor(job-adapter): extract polling helpers to reduce cyclomatic complexity
  internal/adapters/v0_0_43/job_adapter.go
  internal/adapters/v0_0_44/job_adapter.go
Due: gofmt, goimports, golangci-lint

refactor(wrapper-extensions): extract helper methods to reduce GetInstances complexity
  internal/api/v0_0_43/wrapper_extensions.go
Due: gofmt, goimports, golangci-lint

refactor(node-adapter): extract helper methods to reduce pollNodes complexity
  internal/adapters/v0_0_43/node_adapter.go
  internal/adapters/v0_0_44/node_adapter.go
Due: gofmt, goimports, golangci-lint

refactor(reservation-adapter): extract filtering and pagination helpers
  internal/adapters/v0_0_40/reservation_adapter.go
Due: gofmt, goimports, golangci-lint

refactor(node-adapter): extract field setting helpers to reduce conversion complexity
  internal/adapters/v0_0_42/node_adapter.go
Due: gofmt, goimports, golangci-lint

refactor(job-adapter): extract filter helpers to reduce List complexity
  internal/adapters/v0_0_41/job_adapter.go
Due: gofmt, goimports, golangci-lint

refactor(wckey-adapter): extract parameter building helpers to reduce List complexity
  internal/adapters/v0_0_42/wckey_adapter.go
Due: gofmt, goimports, golangci-lint

refactor(wrapper-extensions): extract GetInstance error handling and conversion
  internal/api/v0_0_43/wrapper_extensions.go
Due: gofmt, goimports, golangci-lint

refactor(wrapper-extensions): extract GetDiagnostics error handling and conversion
  internal/api/v0_0_43/wrapper_extensions.go
Due: gofmt, goimports, golangci-lint

refactor(qos-edge-cases): extract QoS pattern enhancement helpers
  internal/managers/base/qos_edge_cases.go
Due: gofmt, goimports, golangci-lint

refactor(errors/builders): extract network error classification helpers
  pkg/errors/builders.go
Due: gofmt, goimports, golangci-lint

refactor(account-adapter): extract account update validation helpers
  internal/adapters/v0_0_44/account_adapter.go
Due: gofmt, goimports, golangci-lint

refactor(mock-server): extract node filtering and pagination helpers
  tests/mocks/handlers.go
Due: gofmt, goimports, golangci-lint

ci(workflow): pin golangci-lint version and remove duplicate config
  .github/workflows/ci.yml
Due: none

feat(linters): add goheader configuration to enforce SPDX Apache-2.0 headers
  .goheader
  .golangci.yml
Due: none

feat(linters): add depguard rules for deprecated packages
  .golangci.yml
Due: none

refactor(linters): review and refine gosec exclusions with path-based rules
  .golangci.yml
Due: none

fix(versioning): handle SLURM version strings in API version detection
  internal/factory/factory.go
Due: gofmt, goimports, golangci-lint

refactor(linters): reduce cmd/ directory linter exclusions
  .golangci.yml
Due: none

test(factory): add comprehensive test coverage for SLURM version string detection
  internal/factory/factory_test.go
Due: gofmt, goimports, golangci-lint

docs(linters): review and document staticcheck exclusions with violation counts
  .golangci.yml
Due: none

ci(docs): exclude Contributor Covenant translations from link validation
  .github/workflows/docs.yml
Due: none

feat(linters): comprehensive linting governance with gocyclo threshold reduction and linter enhancements (#58)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .goheader
  .golangci.yml
  internal/adapters/v0_0_40/reservation_adapter.go
  internal/adapters/v0_0_41/job_adapter.go
  internal/adapters/v0_0_42/node_adapter.go
  internal/adapters/v0_0_42/wckey_adapter.go
  internal/adapters/v0_0_43/job_adapter.go
  internal/adapters/v0_0_43/node_adapter.go
  internal/adapters/v0_0_44/account_adapter.go
  internal/adapters/v0_0_44/job_adapter.go
  internal/adapters/v0_0_44/node_adapter.go
  internal/api/v0_0_43/wrapper_extensions.go
  internal/factory/factory.go
  internal/factory/factory_test.go
  internal/managers/base/qos_edge_cases.go
  pkg/errors/builders.go
  tests/mocks/handlers.go
Due: gofmt, goimports, golangci-lint

feat(v0.0.44): complete InfoManager implementation with real API calls
  internal/api/v0_0_44/info_manager_impl.go
Due: gofmt, goimports, golangci-lint

fix(v0.0.44): connect InfoManager implementation to adapter factory
  internal/factory/adapter_client.go
  internal/factory/factory.go
Due: gofmt, goimports, golangci-lint

feat(v0.0.44): complete adapter pattern with InfoAdapter implementation
  ADAPTER_PATTERN_COMPLETION.md
  internal/adapters/common/interfaces.go
  internal/adapters/v0_0_40/adapter.go
  internal/adapters/v0_0_40/info_adapter.go
  internal/adapters/v0_0_41/adapter.go
  internal/adapters/v0_0_41/info_adapter.go
  internal/adapters/v0_0_42/adapter.go
  internal/adapters/v0_0_42/info_adapter.go
  internal/adapters/v0_0_43/adapter.go
  internal/adapters/v0_0_43/info_adapter.go
  internal/adapters/v0_0_44/adapter.go
  internal/adapters/v0_0_44/info_adapter.go
  internal/common/types/info.go
  internal/factory/adapter_client.go
  internal/factory/adapter_client_simple_test.go
  internal/factory/adapter_client_standalone_test.go
Due: gofmt, goimports, golangci-lint

feat(adapters): add WCKey and Cluster adapters for v0.0.40
  internal/adapters/v0_0_40/adapter.go
  internal/adapters/v0_0_40/cluster_adapter.go
  internal/adapters/v0_0_40/wckey_adapter.go
  internal/adapters/v0_0_41/adapter.go
Due: gofmt, goimports, golangci-lint

chore(deps): update test dependencies from adapter implementation
  go.mod
  go.sum
Due: go-mod-tidy

feat(v0.0.40/v0.0.42): implement standalone features (licenses, tres, shares, diagnostics)
  internal/adapters/v0_0_40/standalone_adapter.go
  internal/adapters/v0_0_42/standalone_adapter.go
  internal/adapters/v0_0_42/standalone_adapter_test.go
Due: gofmt, goimports, golangci-lint

feat: complete adapter pattern with InfoAdapter and standalone operations
  go.mod
  go.sum
  internal/adapters/common/interfaces.go
  internal/adapters/v0_0_40/adapter.go
  internal/adapters/v0_0_40/cluster_adapter.go
  internal/adapters/v0_0_40/info_adapter.go
  internal/adapters/v0_0_40/standalone_adapter.go
  internal/adapters/v0_0_40/wckey_adapter.go
  internal/adapters/v0_0_41/adapter.go
  internal/adapters/v0_0_41/info_adapter.go
  internal/adapters/v0_0_42/adapter.go
  internal/adapters/v0_0_42/info_adapter.go
  internal/adapters/v0_0_42/standalone_adapter.go
  internal/adapters/v0_0_42/standalone_adapter_test.go
  internal/adapters/v0_0_43/adapter.go
  internal/adapters/v0_0_43/info_adapter.go
  internal/adapters/v0_0_44/adapter.go
  internal/adapters/v0_0_44/info_adapter.go
  internal/api/v0_0_44/info_manager_impl.go
  internal/common/types/info.go
  internal/factory/adapter_client.go
  internal/factory/adapter_client_simple_test.go
  internal/factory/adapter_client_standalone_test.go
  internal/factory/factory.go
Due: gofmt, goimports, golangci-lint, go-mod-tidy

test: increase Windows performance threshold to 20% for CI variability
  tests/integration/job_analytics_comprehensive_test.go
Due: gofmt, goimports, golangci-lint

fix: resolve all linter violations (gocyclo and unconvert)
  .golangci.yml
  internal/adapters/v0_0_40/info_adapter.go
  internal/adapters/v0_0_41/info_adapter.go
  internal/adapters/v0_0_42/info_adapter.go
  internal/adapters/v0_0_43/info_adapter.go
  internal/adapters/v0_0_44/info_adapter.go
  internal/factory/adapter_client.go
Due: gofmt, goimports, golangci-lint

fix: resolve CI failures (module tidy, staticcheck, gosec)
  cmd/slurm-cli/go.sum
  internal/adapters/v0_0_40/cluster_adapter.go
  internal/factory/adapter_client.go
Due: gofmt, goimports, golangci-lint
