Repository JonTK/slurm-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, goimports, golangci-lint, go-mod-tidy

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2025 Jon Thor Kristinsson
# SPDX-License-Identifier: Apache-2.0

# Pre-commit hooks for slurm-client
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=500']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: mixed-line-ending
        name: Check mixed line endings

  # Go formatting and linting
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt
        entry: gofmt -w -s
        language: system
        types: [go]
        pass_filenames: true

      - id: goimports
        name: goimports
        entry: goimports -w
        language: system
        types: [go]
        pass_filenames: true

      - id: golangci-lint
        name: golangci-lint (staged files only)
        entry: make lint-staged
        language: system
        types: [go]
        pass_filenames: false
        stages: [commit]
        # Run linting on staged Go files only via make target

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: go.mod
        pass_filenames: false

  # Commit message linting
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.5.0
    hooks:
      - id: commitlint
        name: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional@latest']

feat(job): expose UserName field from SLURM API
  interfaces/interfaces.go
  internal/api/v0_0_40/job_manager_impl.go
  internal/api/v0_0_41/job_manager_impl.go
  internal/api/v0_0_42/job_manager_impl.go
  internal/api/v0_0_43/job_manager_impl.go
  internal/api/v0_0_44/job_manager_impl.go
  internal/interfaces/interfaces.go
Due: gofmt, goimports, golangci-lint

fix(lint): replace string concatenation in loops with strings.Join
  internal/adapters/v0_0_40/node_converters.go
  internal/adapters/v0_0_41/node_converters.go
  internal/adapters/v0_0_42/node_adapter.go
  internal/adapters/v0_0_43/node_converters.go
  internal/adapters/v0_0_44/node_converters.go
Due: gofmt, goimports, golangci-lint

fix(adapters): preserve all node state flags when converting API response (#86)
  interfaces/interfaces.go
  internal/adapters/v0_0_40/node_converters.go
  internal/adapters/v0_0_41/node_converters.go
  internal/adapters/v0_0_42/node_adapter.go
  internal/adapters/v0_0_43/node_converters.go
  internal/adapters/v0_0_43/user_adapter.go
  internal/adapters/v0_0_44/job_adapter.go
  internal/adapters/v0_0_44/node_adapter.go
  internal/adapters/v0_0_44/node_converters.go
  internal/adapters/v0_0_44/user_adapter.go
  internal/api/v0_0_40/job_manager_impl.go
  internal/api/v0_0_41/job_manager_impl.go
  internal/api/v0_0_42/job_manager_impl.go
  internal/api/v0_0_43/job_manager_impl.go
  internal/api/v0_0_44/job_manager_impl.go
  internal/factory/adapter_client.go
  internal/interfaces/interfaces.go
Due: gofmt, goimports, golangci-lint

chore(release): add v0.2.4 to CHANGELOG for adapter fixes
  CHANGELOG.md
Due: none

chore(release): add v0.2.4 to CHANGELOG for adapter fixes (#87)
  CHANGELOG.md
Due: none

docs: update version to v0.2.4
  README.md
  RELEASE.md
  docs/development/RELEASE.md
  docs/getting-started/installation.md
  docs/index.md
Due: none

fix(ci): reduce lint errors and handle build constraints
  .github/workflows/ci.yml
  .golangci.yml
Due: none

fix(ci): additional lint exclusions and errcheck fix
  .golangci.yml
  internal/factory/enhanced_factory.go
Due: gofmt, goimports, golangci-lint

fix(ci): add SPDX header and tidy modules
  cmd/slurm-cli/go.mod
  cmd/slurm-cli/go.sum
  tools/codegen/generate.go
Due: gofmt, goimports, golangci-lint, go-mod-tidy

fix(ci): more lint exclusions for complex adapter code
  .golangci.yml
Due: none

fix(ci): resolve duplicate methods and documentation issues
  .github/workflows/codegen-check.yml
  docs/examples/README.md
  internal/adapters/v0_0_42/converter_helpers.gen.go
  internal/adapters/v0_0_43/converter_helpers.gen.go
  internal/adapters/v0_0_44/converter_helpers.gen.go
  tools/codegen/generate_converters_v2.go
Due: gofmt, goimports, golangci-lint

fix(lint): add blank line after SPDX header in user_converters_extra files
  internal/adapters/v0_0_42/user_converters_extra.go
  internal/adapters/v0_0_43/user_converters_extra.go
  internal/adapters/v0_0_44/user_converters_extra.go
Due: gofmt, goimports, golangci-lint

fix(cli): correct invalid import syntax in main.go
  cmd/slurm-cli/main.go
Due: gofmt, goimports, golangci-lint

fix(cli): update go.mod and go.sum after import changes
  cmd/slurm-cli/go.mod
  cmd/slurm-cli/go.sum
Due: go-mod-tidy

fix(ci): only verify v0_0_41 converters, not v0_0_40
  .github/workflows/codegen-check.yml
Due: none

fix(ci): reduce lint errors and handle build constraints (#95)
  .github/workflows/ci.yml
  .github/workflows/codegen-check.yml
  .golangci.yml
  cmd/slurm-cli/go.mod
  cmd/slurm-cli/main.go
  docs/examples/README.md
  internal/adapters/v0_0_42/converter_helpers.gen.go
  internal/adapters/v0_0_42/user_converters_extra.go
  internal/adapters/v0_0_43/converter_helpers.gen.go
  internal/adapters/v0_0_43/user_converters_extra.go
  internal/adapters/v0_0_44/converter_helpers.gen.go
  internal/adapters/v0_0_44/user_converters_extra.go
  internal/factory/enhanced_factory.go
  tools/codegen/generate.go
  tools/codegen/generate_converters_v2.go
Due: gofmt, goimports, golangci-lint, go-mod-tidy

fix(lint): resolve remaining 33 lint issues with exclusion patterns
  .golangci.yml
  examples/batch-operations/main.go
Due: gofmt, goimports, golangci-lint

fix(ci): add staticcheck configuration to match golangci-lint exclusions
  .staticcheck.conf
Due: none

fix(ci): remove duplicate staticcheck job from CI workflow
  .github/workflows/ci.yml
Due: none

docs: remove deprecated wrapper-advanced.md guide
  docs/guides/wrapper-advanced.md
Due: none

fix(lint): resolve remaining 33 lint issues with exclusion patterns
  .github/workflows/ci.yml
  .golangci.yml
  .staticcheck.conf
  docs/guides/wrapper-advanced.md
  examples/batch-operations/main.go
Due: gofmt, goimports, golangci-lint

docs: fix critical documentation issues post-adapter refactor
  README.md
  docs/ARCHITECTURE.md
  docs/VERSION_SUPPORT.md
  docs/about/CODE_OF_CONDUCT.md
  docs/api/README.md
  docs/configuration.md
  docs/development/CHANGELOG.md
  docs/development/MIGRATION.md
  docs/getting-started/quick-start.md
  docs/guides/ARCHITECTURE.md
Due: none

docs: add comprehensive guides for troubleshooting, adapters, and testing
  docs/guides/adapter-pattern.md
  docs/guides/testing.md
  docs/troubleshooting.md
Due: none

fix(ci): add technical terms to spellcheck dictionary and exclude slurm.schedmd.com
  .cspell.json
  .github/workflows/docs.yml
Due: none

docs: comprehensive documentation review and enhancement (#99)
  .cspell.json
  .github/workflows/docs.yml
  README.md
  docs/ARCHITECTURE.md
  docs/VERSION_SUPPORT.md
  docs/about/CODE_OF_CONDUCT.md
  docs/api/README.md
  docs/configuration.md
  docs/development/CHANGELOG.md
  docs/development/MIGRATION.md
  docs/getting-started/quick-start.md
  docs/guides/ARCHITECTURE.md
  docs/guides/adapter-pattern.md
  docs/guides/testing.md
  docs/troubleshooting.md
Due: none

fix: resolve 5 critical bugs in adapter pattern
  internal/adapters/v0_0_44/job_adapter.gen.go
  internal/factory/adapter_client.go
  internal/factory/extended_account.go
  pkg/middleware/middleware.go
Due: gofmt, goimports, golangci-lint

fix: apply job list filter fix to v0.0.42 and v0.0.43 adapters
  internal/adapters/v0_0_42/job_adapter.gen.go
  internal/adapters/v0_0_43/job_adapter.gen.go
Due: gofmt, goimports, golangci-lint

fix: correct type errors in generated test files
  internal/adapters/v0_0_42/node_adapter_gen_test.go
  internal/adapters/v0_0_44/node_adapter_gen_test.go
  internal/adapters/v0_0_44/reservation_adapter_gen_test.go
Due: gofmt, goimports, golangci-lint

fix: correct type errors in v0.0.43 test files
  internal/adapters/v0_0_43/node_adapter_gen_test.go
  internal/adapters/v0_0_43/reservation_adapter_gen_test.go
Due: gofmt, goimports, golangci-lint

fix: correct test generator for Node State and Reservation Name fields
  internal/adapters/v0_0_42/qos_validation.gen.go
  internal/adapters/v0_0_42/reservation_validation.gen.go
  internal/adapters/v0_0_42/user_adapter_gen_test.go
  internal/adapters/v0_0_42/user_validation.gen.go
  internal/adapters/v0_0_43/user_adapter_gen_test.go
  internal/adapters/v0_0_44/job_validation.gen.go
  internal/adapters/v0_0_44/qos_validation.gen.go
  internal/adapters/v0_0_44/reservation_adapter_gen_test.go
  tools/codegen/generate_adapters.go
Due: gofmt, goimports, golangci-lint

chore: prepare v0.3.0 release
  .cspell.json
  CHANGELOG.md
  README.md
  docs/index.md
Due: none

chore: prepare v0.3.0 release (#101)
  .cspell.json
  CHANGELOG.md
  README.md
  docs/index.md
Due: none

docs: update version to v0.3.0
  RELEASE.md
  docs/development/RELEASE.md
  docs/getting-started/installation.md
Due: none

fix(auth): deprecate NewTokenAuth and fix authentication headers
  README.md
  client_options.go
  doc.go
  examples/account-management/main.go
  examples/array-jobs/main.go
  examples/basic/01_connect/main.go
  examples/basic/02_list_jobs/main.go
  examples/basic/03_submit_job/main.go
  examples/basic/04_error_handling/main.go
  pkg/auth/auth.go
Due: gofmt, goimports, golangci-lint
